vaadin-app-layout[primary-section="navbar"]::part(navbar) {
  --vaadin-app-layout-navbar-background: var(--vaadin-background-container);
}

vaadin-app-layout[primary-section="drawer"]::part(navbar) {
  --vaadin-app-layout-navbar-background: var(--vaadin-background-color);
  box-shadow: 0 1px 0 0 var(--vaadin-border-color-secondary);
}

vaadin-app-layout[primary-section="drawer"]:not([overlay])::part(drawer) {
  --vaadin-app-layout-drawer-background: var(--vaadin-background-container);
  border: 0;
  box-shadow:
    1px 0 0 0 var(--vaadin-border-color-secondary),
    1px 0 0 0 var(--vaadin-background-color);
  z-index: 1;
}

vaadin-drawer-toggle[slot="navbar"] {
  color: var(--vaadin-text-color-secondary);
}

::part(drawer) {
  display: flex;
  flex-direction: column;
}

vaadin-scroller[slot="drawer"] {
  flex: 1;
  padding: var(--vaadin-padding-s);
}

vaadin-scroller[slot="drawer"][overflow~="top"] {
  border-top: 1px solid var(--vaadin-border-color-secondary);
}

vaadin-scroller[slot="drawer"][overflow~="bottom"] {
  border-bottom: 1px solid var(--vaadin-border-color-secondary);
}

[slot="drawer"]:is(header, footer) {
  display: flex;
  align-items: center;
  gap: var(--vaadin-padding-s);
  padding: var(--vaadin-padding-s) var(--vaadin-padding);
  box-sizing: border-box;
}

[slot="drawer"]:is(header, footer):is(:empty) {
  display: none;
}
